<div class="jumbotron">
  <h2 class="display-4"><b>Grados técnicos CES Juan Pablo II</b></h2>

  <p class="lead"> Aplicacion web realizada por Jesús Paredes para el ciclo de Desarrollo de Aplicaciones Multiplataforma</p>

  <hr class="my-4"/>

  <p>Aplicacion realizada para el módulo de DI, hecha por Jesús Paredes en ANGULAR que consta de: </p>


</div>

<ul class="list-group">

  <li class="list-group-item">Componente Home: representa la entrega inicial de la aplicación.</li>

  <li class="list-group-item">Componente Ciclos: representa tantas cartas como ciclos existan en el CiclosService.</li>

  <li class="list-group-item">Componente Asignaturas: representa tantas cartas como asignaturas haya en el servicio AsignaturaService. Adicionalmente se cuenta con un filtro para poder ver asignaturas específicas.</li>

  <li class="list-group-item">Componente Asignatura: representa el aspecto que tendrá una carta de las de arriba mencionadas.</li>

  <li class="list-group-item">Componente DetalleCiclo: representa el detalle de un ciclo,donde se mostrarán los conocimientos necesarios para poder aprobar el ciclo y todas las asignaturas que lo componen.</li>

  <li class="list-group-item">

      Componente NavBar: representa la barra de navegación superior donde se muestra un menú con las siguientes posibilidades:

      <ul>
          <li>Inicio: Llevará al componente Home.</li>
          <li>Ciclos: Llevará al componente Ciclos.</li>
          <li>Asignaturas: Llevará al componente Asignaturas.</li>
      </ul>

  </li>

  <li class="list-group-item">Servicios: se deberá crear al menos dos servicios que provean de datos tanto para los ciclos como para las asignaturas.</li>

  <li class="list-group-item">Pipes: se deberá crear al menos dos directivas personalizada que realice alguna
    transformación en la aplicación.</li>

</ul>
<p></p>
<p class="lead">
  <a class="btn btn-primary btn-lg mt-4" href="https://www.cesjuanpablosegundo.es/" role="button">Ir a la web</a>
</p>